[Unit]
Description=Pinba server
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/pinba-server
ExecStart=/usr/bin/php workerman_clickhouse.php start

Restart=always
RestartSec=10

MemoryLimit=200M
MemoryAccounting=true

[Install]
WantedBy=multi-user.target